.about-root {
    background-image: url(../../assets/about-background.png);
}

.style-fonts {
    align-items: center;
    text-align: justify;
    justify-content: center;
    color: #FFFFFF;
}

.style-fonts h1 {
    text-align: center;
    padding-top: 20px;
}

.style-fonts p {
    font-size: 20px;
    padding: 20px 350px 20px 350px;
}