.about-root {
    background-image: url(../../assets/about-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 100px 0px 100px 0px;
}

.style-fonts {
    align-items: center;
    text-align: justify;
    justify-content: center;
    color: #FFFFFF;
}

.about-root .style-fonts{
    width: 70%;
    margin: 0 auto;
}

.style-fonts h1 {
    text-align: center;
    padding-top: 20px;
}

.style-fonts p {

    font-size: 20px;
}

.text {
    padding-top: 25px;
}

media (max-width: 720px){
    .about-root .style-fonts{
        width: 90%;
        margin: 0 auto;
    }
}
