.local-root {
    padding: 3em 0;
    height: auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
}
.local-root .style-font .local-format .about-caico {
    width: 70%;
    margin: 0 auto;
}

.about-caico .mais-foto p{
    text-align: center;
}

.style-font {
    align-items: center;
    text-align: justify;
    justify-content: center;
    color: gray;
}

.style-font h1 {
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
}

.style-font p {
    font-size: 25px;
    padding: 10px;
    text-align: justify;
}

a {
    color: gray;
}

.about-caico {
    width: 70%;
	margin: 0 auto;
}

.about-caico-text {
    width: 45%;
	display: inline-block;
	vertical-align: top;
}

.video-caico {
    width: 45%;
    margin: 25px 15px;
	opacity: 1;
	transition: 400ms;
	box-shadow: 10px 10px 10px #000000;
}

@media (max-width: 720px){
    
    .about-caico .mais-foto p{
        text-align: center;
    }
    .local-root .style-font .local-format .about-caico {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }
    .about-caico-text {
        width: 70%;
        vertical-align: top;
        
    }
    .video-caico {
        width: 70%;
        margin: 25px 15px;
        opacity: 1;
        transition: 400ms;
        box-shadow: 10px 10px 10px #000000;
    }
    

}