@font-face {
    font-family: segoe;
    src: url('segoe-ui.otf');
}
.registration {
    text-align: center;
    background-color: #ffff7e5d;
    padding: 100px 0px 100px 0px;
}

.registration-format {
    width: 70%;
	margin: 0 auto;
}

.registration h1 {
    font-family: segoe;
    padding: 10px;
}

.registration p {
    font-family: segoe;
    padding: 5px;
    font-size: 20px;
}

.paragrafo-2{
    margin-bottom: 30px;
}

.registration button{
    font-family: segoe;
    text-decoration: none;
    border:none;
    font-size: 15px;
    background-color:rgb(71, 68, 68);
    border-radius: 8px;
    padding: 20px;
    transition: 1s;
    color: white;
    cursor: pointer;
}

.registration button:hover{
    font-family: segoe;
    transform: scale(1.1);
    background-color:black;
}

@media (max-width: 720px){
    .registration-format {
        width: 90%;
        margin: 0 auto;
    }
}
