.registration {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    padding-bottom: 20px;
}

.registration-format {
    width: 70%;
	margin: 0 auto;
}

.registration h1 {
    padding: 10px;
}

.registration p {
    padding: 5px;
}
.paragrafo-2{
    margin-bottom: 30px;
}

.registration button{
    text-decoration: none;
    border:none;
    background-color:rgb(71, 68, 68);
    border-radius: 8px;
    padding: 20px;
    transition: 1s;
    color: white;
    cursor: pointer;
}

.registration button:hover{
    transform: scale(1.1);
    background-color:black;
}
@media (max-width: 720px){
    .registration-format {
        width: 90%;
        margin: 0 auto;
    }
}
