.header-root {
    height: auto;
    text-align: center;
    background-image: linear-gradient(#ffff7e, #90ee90);
}

.banner-img img {
    width: 70%;
    height: 550px;
}

.header-root h2 {
    padding-bottom: 150px;
}

@media (max-width: 720px){
    .banner-img img {
        width: 90%;
        height: 550px;
    }
}